/* Stylesheet für Mobil */

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

a,a:link,a:visited{outline:none;}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:ital,wght@1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body, html {
 height: 100%;
margin: 0;
}

body {
background: rgb(255,100,107);
background: radial-gradient(circle, rgba(255,100,107,1) 0%, rgba(251,122,205,1) 48%, rgba(249,134,255,1) 100%);
background-size: 100% 100%;
background-attachment: fixed;
background-position: center; 
-webkit-animation: AnimationName 8s ease infinite;
-moz-animation: AnimationName 8s ease infinite;
animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-size:100%}
    50%{background-size:250%}
    100%{background-size:100%}
}
@-moz-keyframes AnimationName {
   0%{background-size:100%}
    50%{background-size:250%}
    100%{background-size:100%}
}
@keyframes AnimationName {
  0%{background-size:100%}
    50%{background-size:250%}
    100%{background-size:100%}
}
 


.shop_name {
position: relative;
padding-top:15px;
padding-bottom:1px;
text-align: center;
z-index: 99;
cursor: default;
}

.header {
padding-top:1px;
padding-bottom:5px;
content:url(shitty_shirts_society_logo_transparent.png);
height: 70%;
width: relative;
position: relative; 
max-width:100%;
position: center;
margin: 0 auto;
 z-index: 99;
}



.bottom_area {
position: absolute;
width: auto;
height: auto;
margin-left:10px;
margin-right:10px;
margin-bottom:10px;
left: 0;
right: 0;
bottom: 0;
}

.firstbottomline {
text-align: center;
z-index: 99;
cursor: pointer;
margin-bottom: 5px;
}

.secondbottomline {
text-align: center;
margin-bottom: 10px;
}

.socialmedia {
display: inline;
z-index: 99;
}

.thirdbottomline {
margin-top: 0px;
text-align: center;
position: relative;
padding-bottom:7px;
}

.copyright {
display: inline;
margin-right:5px;
cursor: default;
}

.allrightsreserved {
display: inline;
margin-left: 5px;
cursor: default;
}






img.tiktok_white {
vertical-align: top;
}

img.applemusic_white {
vertical-align: top;
}

img.youtube_white {
vertical-align: top;
}

img.facebook_white {
vertical-align: top;
}

img.instagram_white {
vertical-align: top;
}

img.twitter_white {
vertical-align: top;
}











a.one {
color:#ffffff;
font-family: 'Single Day', serif;
 text-decoration:none;
font-size: 20px;
}



a.two {
color:#ffffff;
font-family: 'Poor Story', serif;
 text-decoration:none;
font-size: 25px;
transition-duration: 0.4s;
}

a.two:hover {
text-shadow: 0px 0px 5px white;
}


a.three {
color:#ffffff;
font-family: 'Poor Story', serif;
 text-decoration:none;
font-size: 13px;
transition-duration: 0.4s;
}

a.four {
color:#ffffff;
font-family: 'Single Day', serif;
 text-decoration:none;
font-size: 16px;
transition-duration: 0.4s;
margin-left:-5px;
}



</style>
</head>
